<!--
  Generated template for the AchievementsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color='primary'>
    <ion-title>Achievements</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding class="sfondo_content">

    <ion-card>
      <ion-card-header class="blue-title ">
        Lista di Achievements raggiunti
      </ion-card-header>

      <ion-card-content>
        <ion-item-group>

          <!--ACHIEVEMENTS TAG-->
          <ion-item-divider color="light" class="divisore_lista">Categoria - <b>Tag</b></ion-item-divider>
          <ion-scroll scrollY="true" class="ion-scroll-component">
            <ion-item  *ngFor="let e of achievements_TAG;">
              <ion-avatar item-start>
                  <ion-icon name="create" class="ion-icon-component"></ion-icon>
              </ion-avatar>
              <h3 text-wrap >{{e.descr}}</h3>
              <p >{{e.data | date: 'dd/MM/yyyy'}}</p>
            </ion-item>
          </ion-scroll>

          <!--ACHIEVEMENTS FOTO--> 
          <ion-item-divider color="light" class="divisore_lista">Categoria - <b>Foto</b></ion-item-divider>
          <ion-scroll scrollY="true" class="ion-scroll-component">
            <ion-item  *ngFor="let e of achievements_PHOTO;">
              <ion-avatar item-start>
                <ion-icon name="images" class="ion-icon-component"></ion-icon>
              </ion-avatar>
              <h3 text-wrap >{{e.descr}}</h3>
              <p>{{e.data | date: 'dd/MM/yyyy'}}</p>
            </ion-item>
          </ion-scroll>

          <!--ACHIEVEMENTS INFO-->
          <ion-item-divider color="light" class="divisore_lista">Categoria -  <b>Informazioni</b></ion-item-divider>
          <ion-scroll scrollY="true" class="ion-scroll-component">
            <ion-item  *ngFor="let e of achievements_INFO;">
                <ion-avatar item-start>
                  <ion-icon name="chatboxes" class="ion-icon-component"></ion-icon>
                </ion-avatar>
                <h3 text-wrap >{{e.descr}}</h3>
                <p >{{e.data | date: 'dd/MM/yyyy'}}</p>
            </ion-item>
          </ion-scroll>

          <!--ACHIEVEMENTS MISTO-->
          <ion-item-divider color="light" class="divisore_lista">Categoria - <b>Misto</b></ion-item-divider>
          <ion-scroll scrollY="true" class="ion-scroll-component">
            <ion-item  *ngFor="let e of achievements_MINSC;">
                <ion-avatar item-start>
                  <ion-icon name="document" class="ion-icon-component"></ion-icon>
                </ion-avatar>
                <h3 text-wrap >{{e.descr}}</h3>
                <p >{{e.data | date: 'dd/MM/yyyy'}}</p>
            </ion-item>
          </ion-scroll>

          </ion-item-group>
        </ion-card-content>
        
        <ion-item text-wrap id="ach_message">Continua a contribuire per sbloccare altri achievements!</ion-item>
      </ion-card>

</ion-content>


  
