page-search-place {
    #titolo_card{
        font-size:20px; 
        text-align: center;
        color: #488AFF !important;
    }

    #scroll_preferenze{
		height: 100px;
		}
    
    .image_style{
        width: 200px !important;
        display: block;
        margin-left: auto;
        margin-right: auto;
        border: 2px solid #e0e0e0;
    }
}
