<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
   <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Profilo di {{username}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding style="background-color: #cce6ff">
  <!--Card per avatar, punti e livello-->
  <ion-card>
      <ion-card-header class="blue-title">
       <b>{{username}}</b>
      </ion-card-header>

      <ion-card-content>
      <ion-grid style="padding: 0px !important">
          <ion-row>

              <ion-col col-12 style="text-align: center;">
                  <button ion-button (click)="selectPhoto()" color="light" id="profilo_Avatar">
                      <img src="assets/img/user.png"> <!--All'upload dell'avatar, questo link dovrà cambiare per mostrare la nuova foto -->
                  </button>
              </ion-col>
           
           

            <ion-col col-6>

               <ion-row>
                 <div *ngFor="let item of items_user_details;">
                    <p><b>Registrazione:</b> {{correct_data | date: 'dd/MM/yyyy'}}</p>
                    <p><b>Email:</b> {{item.clear_email}}</p>
                 </div>
              </ion-row>

            </ion-col>

            <ion-col col-6>
                <ion-row>
                    <div *ngFor="let item of items_user_details;">
                        <p><b>Punti totali:</b> {{item.total_points}}</p> 
                      </div>
                 </ion-row>


            </ion-col>

           <!-- <ion-row>
                <ion-col col-12> 
                  <div *ngFor="let item of items_user_details;">
                    <p><b>Punti totali:</b> {{item.total_points}}</p> 
                  </div>
                </ion-col>
            </ion-row>-->

          </ion-row>
      </ion-grid>
      </ion-card-content>
  </ion-card>

  <!--Card per badges-->
  <ion-card>
    <ion-card-header class="blue-title">
    Badge
    </ion-card-header>

    <ion-card-content>
      <ion-scroll id="scroll_preferenze" scrollY="true">
        <ion-row id ="tag-row">
            <ion-list  *ngFor="let badge of badges_utente_misto;">
              <ion-badge class="tag-profile" color="secondary">{{badge}} </ion-badge>
            </ion-list>

            <ion-list  *ngFor="let badge of badges_utente_taggatore;">
              <ion-badge class="tag-profile" color="light">{{badge}} </ion-badge>
           </ion-list>

           <ion-list  *ngFor="let badge of badges_utente_fotografo;">
              <ion-badge class="tag-profile" color="danger">{{badge}} </ion-badge>
           </ion-list>

           <ion-list  *ngFor="let badge of badges_utente_informatore;">
              <ion-badge class="tag-profile">{{badge}} </ion-badge>
           </ion-list>
        </ion-row>
      </ion-scroll>
    </ion-card-content>
  </ion-card>

 <!--Card per preferenze--> 
  <ion-card>
    <ion-card-header class="blue-title">
    Preferenze
    </ion-card-header>

    <ion-card-content style="text-align: center;">
      <ion-scroll id="scroll_preferenze" scrollY="true">
        <ion-list *ngFor="let tag of tags">
          <p>{{tag}}</p>
        
        </ion-list>
      </ion-scroll>
    </ion-card-content>
  </ion-card>


 <!--Card per foto--> 
  <ion-card>
    <ion-card-header class="blue-title">
    Foto
    </ion-card-header>

    <ion-card-content class="card-background-page"  id="foto-card">
      <ion-scroll id ="scroll_foto" scrollX="true" scrollY="true">
        <ion-card>
          <img width="200" height="200" src="assets/img/fontanamasini.jpg"/>
          <div class="card-title">Fontana masini</div>
          <div class="card-subtitle">3 Foto caricate</div>
        </ion-card>

        <ion-card>
          <img width="200" height="200" src="assets/img/malatestiana-1.jpg"/>
          <div class="card-title">Malatestiana</div>
          <div class="card-subtitle">5 foto caricate</div>
        </ion-card>
      </ion-scroll>
    </ion-card-content>
  </ion-card>




  


</ion-content>
