page-rank {

	.header .classifica {
 		background-color:#f5f5f0;
  		border-radius: 5px 5px 5px 5px;
	}

	.classifica {
  		border: solid 1px white;
  		border-bottom-style: none;
  		border-right-style: none;
  		text-align: center;
	}

	.classifica:last-child {
  		border-right: solid 1px white;
	}

	.row:last-child .classifica {
  		border-bottom: solid 1px white;
	}

	
	#table {
		padding-right: 15px;
		padding-left: 15px;
		padding-bottom: 15px;
	}

	.centered{
		text-align: center;
	}
	

} /*Graffa di chiusa CSS*/

