<ion-header>
  <ion-navbar ion-navbar color='primary'>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="sfondo_content">

  <ion-grid style="padding: 0px !important;">
<!--Riga per la mappa-->
<ion-row >
    
    <div class="map-container">
      <div id="map">
      </div>
    </div> 
  </ion-row>


 


  <!--Riga per il bottone e lista-->
  <ion-row  style="position:fixed; bottom: 0; width: 100%;">
    
        <ion-scroll *ngIf="routeDisplayed" scrollY="true" style="width:100%; height:150px; border: 1px solid grey;  background-color:white; ">
         
                <ion-list *ngFor="let i of instructions" style="padding-left: 10px;">
                  <p [innerHtml]="i" style="border-bottom: 1px solid #ebebe0;"></p>
                  <!-- <p style="border-bottom: 1px solid #ebebe0;">dddddddddddddddddddddddddddddddddddd</p>
                  <p style="border-bottom: 1px solid #ebebe0;">dddddddddddddddddddddddddddddddddddd</p>
                  <p style="border-bottom: 1px solid #ebebe0;">dddddddddddddddddddddddddddddddddddd</p>
                  <p style="border-bottom: 1px solid #ebebe0;">dddddddddddddddddddddddddddddddddddd</p>
                  <p style="border-bottom: 1px solid #ebebe0;">dddddddddddddddddddddddddddddddddddd</p> -->
                </ion-list>
    </ion-scroll>
  
    <button ion-button color="primary" block (click)='planTrip()' id="button_plan"> Pianifica il tuo percorso </button>
  
  </ion-row>
  </ion-grid>
  

</ion-content> 

