<!--
  Generated template for the MonumentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
   <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{poiName}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

<!--Card nome e foto-->
<ion-card>
  <ion-card-header class="blue-title">
    {{poiName}}
  </ion-card-header>

  <ion-card-content>
    <img width="200" height="200" src="assets/img/malatestiana.jpg"/>
  </ion-card-content>
</ion-card>

<!--Card descrizione e tag-->
<ion-card>
  <ion-card-header class="blue-title">
        Descrizione e tag
  </ion-card-header>

  <ion-card-content>
  	<ion-row id ="tag-row">
      <ion-list *ngFor="let tag of poi.tipo"> <!-- Lista di badge -->

       <ion-badge class="tag-local" color="secondary">{{tag}}</ion-badge>
       </ion-list>
  	</ion-row>
  	<ion-row>
    	<p id ="local description">
    		La Biblioteca Malatestiana di Cesena è una biblioteca monastica di particolare importanza storica. Fondata alla metà del XV secolo, detiene due primati assoluti: è stata la prima biblioteca civica d'Italia e d'Europa; è l'unico esempio di biblioteca monastica umanistica giunta fino a noi perfettamente conservata nell'edificio, negli arredi e nella dotazione libraria.
      </p>
    </ion-row>
  </ion-card-content>
</ion-card>

<!--Card informazioni utenti-->
<ion-card>
    <ion-card-header class="blue-title">
          Informazioni dagli utenti
    </ion-card-header>
  
    <ion-card-content>
        <ion-grid>
          <ion-list *ngFor="let d of descriptions">
              <ion-row>
                  <ion-col col-12>"{{d.text}}" - {{d.user}}</ion-col>
                </ion-row>
          </ion-list>
          </ion-grid>
    </ion-card-content>
  </ion-card>

<!--Card foto utenti-->
<ion-card>
  <ion-card-header class="blue-title">
        Foto utenti
  </ion-card-header>

  <ion-card-content>
    <img width="200" height="200" src="assets/img/malatestiana.jpg"/>
  </ion-card-content>
</ion-card>

<ion-card>
    <ion-card-content>
      <!--Cliccando sul bottone si apre la pagina per la modifica del monumento-->
      <ion-row>
        <button ion-button class="card-button" (click)=openEditMonumentPage() > <ion-icon name="add-circle" class="icona-bottone"></ion-icon>  Contribuisci</button>
      </ion-row>
      <!--Cliccando sul bottone si apre la pagina per il caricamento della foto-->
      <ion-row>
        <button ion-button class="card-button" (click)=openUploadPhotoPage()  color="secondary" > <ion-icon name="images" class="icona-bottone"></ion-icon>Carica foto</button>
      </ion-row>
    </ion-card-content>
</ion-card>





</ion-content>
