page-monument {

	.tag-local{
		margin-left: 5px;
		margin-right: 5px;
		margin-bottom: 2px;
		width: 100%;
	}

	#tag-row{
		margin-bottom: 5px;
	}

	.icona-bottone{
		padding-right: 5px;
	}

	#tag_list{
		margin-left: 2px; 
		margin-right: 2px;
	}
	

	.giustificato{
		text-align: justify;
	}

	#scroll_preferenze{
		height: 150px;
		}
	
}
