// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


.myFooter{
    
    font-size: 3em;
    color: limegreen;
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 50px;
    text-align: center;
    /* Starting position */
    -moz-transform:translateX(100%);
    -webkit-transform:translateX(100%);	
    transform:translateX(100%);
    /* Apply animation to this element */	
    -moz-animation: myFooter 15s linear infinite;
    -webkit-animation: myFooter 15s linear infinite;
    animation: myFooter 15s linear infinite;
   }
   /* Move it (define the animation) */
   @-moz-keyframes myFooter {
    0%   { -moz-transform: translateX(100%); }
    100% { -moz-transform: translateX(-100%); }
   }
   @-webkit-keyframes myFooter {
    0%   { -webkit-transform: translateX(100%); }
    100% { -webkit-transform: translateX(-100%); }
   }
   @keyframes myFooter {
    0%   { 
    -moz-transform: translateX(100%); /* Firefox bug fix */
    -webkit-transform: translateX(100%); /* Firefox bug fix */
    transform: translateX(100%); 		
    }
    100% { 
    -moz-transform: translateX(-100%); /* Firefox bug fix */
    -webkit-transform: translateX(-100%); /* Firefox bug fix */
    transform: translateX(-100%); 
    }
   }


  .card-button{
    width: 100% !important;
  }

  .blue-title{
    color: #488aff;
  }


//Serve per lo sfondo delle singole pagine. Va trovata un immagine di sfondo.
  .sfondo_content{  
    background-image: url('../assets/img/background_app.png');
    -webkit-background-image: url('../assets/img/background_app.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-repeat: no-repeat;
    background-size:cover;
    width:100%;
}

//--------INIZIO--------Per slide delle immagini nella welcomepage
#crossfade > img { 
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
   // color: transparent;
	opacity: 0;
	z-index: 0;
	-webkit-backface-visibility: hidden;
	-webkit-animation: imageAnimation 30s linear infinite 0s;
	-moz-animation: imageAnimation 30s linear infinite 0s;
	-o-animation: imageAnimation 30s linear infinite 0s;
	-ms-animation: imageAnimation 30s linear infinite 0s;
	animation: imageAnimation 30s linear infinite 0s; 
	background-repeat: no-repeat;
	background-size: auto;
  }
  
  #crossfade > img:nth-child(2)  {
	-webkit-animation-delay: 6s;
	-moz-animation-delay: 6s;
	-o-animation-delay: 6s;
	-ms-animation-delay: 6s;
	animation-delay: 6s; 
  }

  #crossfade > img:nth-child(3) {
	-webkit-animation-delay: 12s;
	-moz-animation-delay: 12s;
	-o-animation-delay: 12s;
	-ms-animation-delay: 12s;
	animation-delay: 12s; 
  }

  #crossfade > img:nth-child(4) {
	-webkit-animation-delay: 18s;
	-moz-animation-delay: 18s;
	-o-animation-delay: 18s;
	-ms-animation-delay: 18s;
	animation-delay: 18s; 
  }

  #crossfade > img:nth-child(5) {
	-webkit-animation-delay: 24s;
	-moz-animation-delay: 24s;
	-o-animation-delay: 24s;
	-ms-animation-delay: 24s;
	animation-delay: 24s; 
  }
  
  @-webkit-keyframes imageAnimation { 
	0% { opacity: 0;
	-webkit-animation-timing-function: ease-in; }
	8% { opacity: 1;
		 -webkit-animation-timing-function: ease-out; }
	17% { opacity: 1 }
	25% { opacity: 0 }
	100% { opacity: 0 }
  }
  
  @-moz-keyframes imageAnimation { 
	0% { opacity: 0;
	-moz-animation-timing-function: ease-in; }
	8% { opacity: 1;
		 -moz-animation-timing-function: ease-out; }
	17% { opacity: 1 }
	25% { opacity: 0 }
	100% { opacity: 0 }
  }
  
  @-o-keyframes imageAnimation { 
	0% { opacity: 0;
	-o-animation-timing-function: ease-in; }
	8% { opacity: 1;
		 -o-animation-timing-function: ease-out; }
	17% { opacity: 1 }
	25% { opacity: 0 }
	100% { opacity: 0 }
  }
  
  @-ms-keyframes imageAnimation { 
	0% { opacity: 0;
	-ms-animation-timing-function: ease-in; }
	8% { opacity: 1;
		 -ms-animation-timing-function: ease-out; }
	17% { opacity: 1 }
	25% { opacity: 0 }
	100% { opacity: 0 }
  }
  
  @keyframes imageAnimation { 
	0% { opacity: 0;
	animation-timing-function: ease-in; }
	8% { opacity: 1;
		 animation-timing-function: ease-out; }
	17% { opacity: 1 }
	25% { opacity: 0 }
	100% { opacity: 0 }
  }
  //--------fine--------Per slide delle immagini nella welcomepage
  
  .sticky_content{
    position: sticky;
  }

  










  