<ion-header no-shadow>
  <ion-toolbar>
    <ion-buttons end *ngIf="showSkip">
      <button ion-button (click)="startApp()" color="primary">SKIP</button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content no-bounce>
  <ion-slides pager="true" (ionWillChange)="onSlideChangeStart($event)">
    <ion-slide *ngFor="let slide of slides">
      <img [src]="slide.image" class="slide-image" />
      <h2 class="slide-title" [innerHTML]="slide.title"></h2>
      <p [innerHTML]="slide.description"></p>
    </ion-slide>
    <ion-slide>
      <img src="" class="slide-image" />
      <h2 class="slide-title">Pronto a partire?</h2>
      <p>Clicca START e inizia il tuo viaggio culturale!</p>   
      <button ion-button icon-right large clear (click)="startApp()">
        START
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-slide>
  </ion-slides>
</ion-content>
  
