page-welcomepage {
	
	p {
		text-align: center;
	}

	#foto-cop{
		text-align: center;
	}
	
	button{
		width: 95%;
	}

	.card-background-page {
		
		ion-card {
		position: relative;
		text-align: center;
		}
		
		.card-title {
			position: absolute;
			top: 36%;
			font-size: 2.0em;
			width: 100%;
			font-weight: bold;
			color: #fff;
		}
		
		.card-subtitle {
			font-size: 1.0em;
			position: absolute;
			top: 52%;
			width: 100%;
			color: #fff;
			padding-top: 10px; /*Così la scritta si legge bene anche su cell*/
		}
		
	}	/*Chiusura di card-background-page*/


	/*Se tolgo questo va via lo sfondo*/
	.getstart{
	background-image: url('../assets/img/venice.jpg');
	background-repeat: no-repeat;
	background-size:cover;
}

} /*Graffa di chiusa CSS*/

