page-foto-map-modal {

    #modal_icon{
        padding: 5px;
    }

    .card_header_name{
        color: #488aff !important; 
        font-size: 20px;
    }

    .bottoni_social{
        height: 50px; 
        border-radius: 50px !important;
    }

    .icone_social{
       font-size: 25px;
    }

}
